.images {
  height: 310px;
  width: 200px;
}

.projects {
  display: grid;
  grid-gap: 31px;
  grid-template-columns: repeat(auto-fit, minmax(254px, 1fr));
}

.container {
  display: grid;
  grid-auto-flow: column;
  padding-bottom: 39px;
}

.name {
  text-decoration: none;
  text-align: left;
}

.header {
  text-align: center;
  padding-bottom: 3px;
}

.main-container {
  text-align: -webkit-center;
}

.exception {
  text-align: center;
}

.container-flex {
  display: flex;
  width: max-content;
}